{% extends "base_boot.html" %}
{% block title %}
    Add new client
{% endblock %}
{% block body %}
<form method='POST'>
    <div class="form-group">
        <input class="form-control" placeholder="Firstname" name="firstname">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Lastname" name="lastname">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="E-mail" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}